<div class="card h-100">
  <img src="<%= movie.image %>" class="card-img-top" alt="<%= movie.title %> poster">
  <div class="card-body">
    <h5 class="card-title"><%= movie.title %></h5>
    <div>
      <small class="text-body-secondary"><%= movie.year %></small>
      <%# TODO: duration %>
    </div>
    <%= link_to 'Details', movie_path(movie), class: "btn btn-outline-primary rounded-pill w-100 mt-2" %>
  </div>
</div>
