<% if @movie.errors.any? %>
  <div id="error_explanation">
    <h2 style="color: red;"><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

    <ul>
      <% @movie.errors.each do |error| %>
        <li style="color: red;"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @movie) do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div>
    <%= form.label :director_id %>
    <%= form.text_field :director_id %>
  </div>

  <%= form.submit %>
<% end %>
