<div>
  <div>
    <h2>
      Edit movie
    </h2>

    <% if @the_movie.invalid? %>

      <% @the_movie.errors.each do |error| %>
        <p style="color: red;"><%= error.full_message %></p>
      <% end %>
    <% end %>

    <form action="/modify_movie/<%= @the_movie.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_movie.title %>">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year" value="<%= @the_movie.year %>">
      </div>

      <div>
        <label for="director_id_box">
          Director
        </label>

        <input type="text" id="director_id_box" name="query_director_id" value="<%= @the_movie.director_id %>">
      </div>

      <button>
        Update movie
      </button>
    </form>
  </div>
</div>
