<div>
  <div>
    <h1>
      Movie #<%= @movie.id %> details
    </h1>

    <div>
      <div>
        <a href="/movies">
          Go back
        </a>
      </div>

      <div>
        <a href="/movies/<%= @movie.id %>/edit">
          Edit movie
        </a>
      </div>

      <div>
        <a href="/delete_movie/<%= @movie.id %>">
          Delete movie
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @movie.title %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @movie.year %>
      </dd>


      <% if @movie.director %>
        <dt>
          Director
        </dt>
        <dd>
          <a href="/directors/<%= @movie.director_id %>">
            <%= @movie.director.name %>
          </a>
        </dd>
      <% end %>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
<hr>
